allure-report/*
allure-results/*
node-modules/*
allure-report/
allure-results/
node-modules/
allure-report
allure-results
node-modules
./allure-report/*
./allure-results/*
./node-modules/*

./allure-report/
./allure-results/
./node-modules/

